html, body, div, span,
h1, h2, p,
a, img, ul, li, footer, header, section, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers - don't include RESET.css in the projects (exept codepen(?)), use NORMALIZE.css only*/ 
footer, header, section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:500);


body {
  background-color: white;
  font-family: 'Gudea', sans-serif;
  margin: 5% 20% 5% 20%;
}

p, ul {
	font-family: 'Raleway', sans-serif;
}

.container {
	margin-bottom: 25px;
}


.info-details{
    text-align: center;
    margin-bottom: 20px;
}

.title-name {
    color: #3EDFD0;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 1%;
}

.contact-info, .links-container {
    color: #808284;
    font-size: 16px;
    letter-spacing: 1.2px;
}

.contact-info {
    padding-bottom: 5%;
    padding-top: 2%;
}

.links {
    text-decoration: none;
    color: inherit;
    color: #58585B;
    display: inline-block;
}

.links:hover {
    color: #3EDFD0;
  }

.primary-titles {
    color: #3EDFD0;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    padding-top: 10px;
}


.location {
  color: #808284;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 2px;
}

.category-titles {
  color: #3EDFD0;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.category-details {
    color: #808284;
    font-size: 13px;
    padding-top: 10px;
	padding-bottom: 15px;
}

.category-description-main {
  color: #808284;
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
}

.category-description {
    color: #808284;
    font-size: 13px;
    line-height: 18px;
    padding-top: 10px;
	padding-bottom: 15px;
}


hr {
  border: 1px dotted #A7A9AB;
  border-style: none none dotted; 
  margin: 0 5% 0 0;
}



@media only screen and (min-width: 480px) {
    .primary-titles {
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
        text-decoration: none;   
    }
}

@media only screen and (max-width: 500px) {
    .prof-experience {
        margin-top: 10%;
    }
}
  
